@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    background-color: #e1d0d1;
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #e1d0d1;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 40%;
}

.logoTitulo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

.carrito {
    margin-right: 30px;
    margin-top: 15px;
}

.material-symbols-outlined {
    color: #62636a;
    font-size: 35px;
}

.saludo {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
}

.menuDesplegable {
    margin-top: 15px;
    margin-right: 150px;
}